<h1>Listing All Players</h1>

<div id="progressbar"><div class="progress-label">Loading...</div></div>

<br />

<select id = "FilterTm" style="float:left">
		<option>Select a Team...</option>
	<%# Abbrv.order("Team").each do |abbrv| %>
		<option><%#= abbrv.Team %></option>
		<%# end %>
		<% @abbrvs.each do |abv| %>
		<option><%= abv.Team %></option>
	<% end %>
</select>

<a id="playerBtn"><button type="button" id="plyrBtn" style="float:left">Players</button></a>

<%#= link_to '<button type = "button">Players</button>'.html_safe, live_players_path(:Team => @tmf) %>
<br />
<br />
<br />
<input type="text" class="hiddenField" id="curTeam" />

<br />
<select id = "ptable" size = 30>
	<% @live_players.each do |live_player| %>
		<option><%= live_player.Plyr %></option>
	<% end %>
</select>

<!--
<table id = "ptable" style= float:right>
  <thead>
    <tr>
      <th>Plyr</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @live_players.each do |live_player| %>
      <tr>
        <td><%#= live_player.Plyr %></td>
        <td><%#= live_player.Team %></td>
        <td><%#= link_to 'Show', live_player %></td>
        <td><%#= link_to 'Edit', edit_live_player_path(live_player) %></td>
	<td><%#= link_to 'Destroy', live_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
-->
<br>

<%#= link_to 'New Live player', new_live_player_path %>
